<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sve15138.vaccinator" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Database.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="3" />
        <meta-data
            android:name="AA_MODELS"
            android:value="Persistance.Model.BabyInfo , Persistance.Model.VaccinationSchedule , Persistance.Model.VacinatorInfo , Persistance.Model.Visit" />

        <activity android:name=".LoginModule.Login_Activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashBoard.vaccine_process.VaccineRecord" />
        <activity android:name=".LoginModule.ForgetPassword_Activity" />
        <activity android:name=".DashBoard.Dashboard_Activity" />
        <activity android:name=".DashBoard.RegisterChild.RegisterChild_Activity" />
        <activity android:name=".DashBoard.ChildSearch.SearchChild_Activity" />
        <activity
            android:name=".DashBoard.CurrentUCChildren.CurrentChildren_Activity"
            android:label="@string/title_activity_main" />
        <activity android:name=".DashBoard.vaccine_process.ProfileView.ProfileView" />
        <activity android:name=".DashBoard.CardScan.CardScan_Activity" >
        </activity>
        <activity android:name=".DashBoard.CardScanWrite" >
        </activity>
    </application>

</manifest>
